.mainFrame {
  background-image: url("./assets/fg4_borders_01_03.png");
  background-color: transparent;
  width: 984px;
  height: 623px;
  resize: none;
  margin: 20px;
}

.greenButton {
  background-image: url("./assets/fg4_buttonGreen1_Up.png");
  background-color: transparent;
  margin: 20px;
  border: none;
  height: 140px;
  width: 144px;
}

.greenButton:hover {
  background-image: url("./assets/fg4_buttonGreen1_Over.png");
}


